#loginbox {
  background-position: center -122px;
  background-repeat: repeat-x;
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 250px;
}

#loginbox .box {
  margin: 0;
  padding: 20px;
}

#loginbox .form-submit {
  margin: 0;
}
