#loginbox .loginbox-close {
  background: url('../img/close.png') no-repeat;
  border: 0;
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: -15px;
  text-indent: -9999px;
  top: -15px;
  width: 30px;
}
